body {
    margin: 0;
    font-family: 'Segoe UI';
    background: #0b0f17;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* glass effect */
.card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

h2 {
    color: white;
}

p {
    color: #aaa;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
    background: #111827;
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #0077ff, #00c6ff);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

a {
    color: #00c6ff;
    text-decoration: none;
}

.container {
    width: 350px;
}


