<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">
        <h2>Create Account</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email address" required>
        <input type="password" name="password" placeholder="Password" required>
        <button>Register</button>
    </form>

        <p>Already have account? <a href="/login">Login</a></p>
    </div>
</div>

</body>
</html>